/*

*/

.version.index /* version checker */
{
	color: #000001;
	background-color: #F8B351;
}

.html
{
	background-color: #EBEBEB;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 4897px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -40px;
	width: 0.01px;
}

#u459
{
	z-index: 3;
	width: 320px;
	min-height: 180px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 419px;
}

#u428
{
	z-index: 4;
	height: 451px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0)),color-stop(100%, #41C9FF));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0) ,#41C9FF 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0) ,#41C9FF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#FF41C9FF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFFFF', endColorstr='#FF41C9FF', GradientType=0)";
}

#u428-bw
{
	z-index: 4;
	margin-top: 100px;
	height: 451px;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 100px;
}

#u421
{
	z-index: 149;
	height: 30px;
	background: transparent url("../images/road.png") repeat left top;
}

#u421-bw
{
	z-index: 149;
	margin-top: 521px;
	height: 30px;
}

#u444
{
	z-index: 151;
	height: 23px;
	background-color: #ADDB5D;
}

#u444-bw
{
	z-index: 151;
	margin-top: 498px;
	height: 23px;
}

#u438
{
	z-index: 152;
	width: 960px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 121px;
	left: 100px;
}

#menuu80
{
	z-index: 177;
	width: 961px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
	left: 99px;
}

#u81
{
	width: 185px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u82
{
	width: 185px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
}

#u82:hover
{
	border-style: solid;
	border-color: #000000;
	border-radius: 0px;
	width: 185px;
	min-height: 0px;
	margin: 0px;
	border-width: 0px 0px 3px;
}

#u82.MuseMenuActive
{
	border-style: solid;
	border-color: #000000;
	width: 185px;
	min-height: 0px;
	margin: 0px;
	border-width: 0px 0px 3px;
}

#u85-4
{
	width: 131px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: '__ITC Lubalin Graph Std_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	left: 27px;
}

#u82:hover #u85-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 131px;
	margin: 0px -10000px 0px 0px;
}

#u82.MuseMenuActive #u85-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 131px;
	margin: 0px -10000px 0px 0px;
}

#u117
{
	width: 200px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 187px;
}

#u118
{
	width: 200px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
}

#u118:hover
{
	border-style: solid;
	border-color: #000000;
	border-radius: 0px;
	width: 200px;
	min-height: 0px;
	margin: 0px;
	border-width: 0px 0px 3px;
}

#u118.MuseMenuActive
{
	border-style: solid;
	border-color: #000000;
	width: 200px;
	min-height: 0px;
	margin: 0px;
	border-width: 0px 0px 3px;
}

#u121-4
{
	width: 146px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: '__ITC Lubalin Graph Std_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	left: 27px;
}

#u118:hover #u121-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 146px;
	margin: 0px -10000px 0px 0px;
}

#u118.MuseMenuActive #u121-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 146px;
	margin: 0px -10000px 0px 0px;
}

#u110
{
	width: 149px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 389px;
}

#u111
{
	width: 149px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
}

#u111:hover
{
	border-style: solid;
	border-color: #000000;
	border-radius: 0px;
	width: 149px;
	min-height: 0px;
	margin: 0px;
	border-width: 0px 0px 3px;
}

#u111.MuseMenuActive
{
	border-style: solid;
	border-color: #000000;
	width: 149px;
	min-height: 0px;
	margin: 0px;
	border-width: 0px 0px 3px;
}

#u114-4
{
	width: 95px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: '__ITC Lubalin Graph Std_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	left: 27px;
}

#u111:hover #u114-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u111.MuseMenuActive #u114-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u103
{
	width: 204px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u104
{
	width: 204px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
}

#u104:hover
{
	border-style: solid;
	border-color: #000000;
	border-radius: 0px;
	width: 204px;
	min-height: 0px;
	margin: 0px;
	border-width: 0px 0px 3px;
}

#u104.MuseMenuActive
{
	border-style: solid;
	border-color: #000000;
	width: 204px;
	min-height: 0px;
	margin: 0px;
	border-width: 0px 0px 3px;
}

#u107-4
{
	width: 150px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: '__ITC Lubalin Graph Std_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	left: 27px;
}

#u104:hover #u107-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u104.MuseMenuActive #u107-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u573
{
	width: 215px;
	min-height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 746px;
}

#u574
{
	width: 215px;
	background-color: transparent;
	padding-bottom: 28px;
	position: relative;
}

#u574:hover
{
	border-style: solid;
	border-color: #000000;
	border-radius: 0px;
	width: 215px;
	min-height: 0px;
	margin: 0px;
	border-width: 0px 0px 3px;
}

#u574.MuseMenuActive
{
	border-style: solid;
	border-color: #000000;
	width: 215px;
	min-height: 0px;
	margin: 0px;
	border-width: 0px 0px 3px;
}

#u575-4
{
	width: 161px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: '__ITC Lubalin Graph Std_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 14px;
	left: 27px;
}

#u574:hover #u575-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u574.MuseMenuActive #u575-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u580
{
	z-index: 265;
	width: 960px;
	height: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 247px;
	left: 99px;
}

#U582_animation
{
	width: 960px;
	height: 300px;
	border: none;
}

#u467-4
{
	z-index: 173;
	width: 961px;
	min-height: 58px;
	background-color: transparent;
	color: #DE1426;
	font-size: 48px;
	line-height: 58px;
	left: -1px;
	margin-top: 39px;
	position: relative;
}

#u136-4
{
	z-index: 6;
	width: 55px;
	min-height: 55px;
	background-color: transparent;
	border-radius: 40px;
	color: #DE1426;
	text-align: center;
	font-size: 40px;
	line-height: 48px;
	-webkit-transform: matrix(0,1,-1,0,55,0);
	-ms-transform: matrix(0,1,-1,0,55,0);
	transform: matrix(0,1,-1,0,55,0);
	margin-left: 453px;
	margin-top: 29px;
	position: relative;
}

#u136-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 55px;
	width: 55px;
	margin: 29px 0px 0px 453px;
}

#seatbelts
{
	margin-top: 42px;
	position: relative;
}

#u171-4
{
	z-index: 30;
	width: 961px;
	min-height: 58px;
	background-color: transparent;
	line-height: 43px;
	left: -1px;
	margin-top: 50px;
	position: relative;
}

#u480
{
	z-index: 119;
	width: 354px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 883px;
	left: 235px;
}

#u232
{
	z-index: 120;
	width: 354px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u238
{
	z-index: 122;
	width: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 57px;
}

#u477
{
	z-index: 117;
	width: 44px;
	background-color: transparent;
	position: fixed;
	top: 1009px;
	left: 212px;
}

#u328
{
	z-index: 113;
	width: 242px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 1058px;
	left: 31px;
}

#u225
{
	z-index: 114;
	width: 242px;
	background-color: #9E005D;
	border-radius: 150px;
	position: relative;
	margin-right: -10000px;
}

#u219
{
	z-index: 115;
	width: 312px;
	background-color: transparent;
	margin-bottom: -15px;
	position: relative;
	margin-right: -10000px;
	margin-top: -53px;
	left: -32px;
}

#u175-17
{
	z-index: 52;
	width: 743px;
	min-height: 127px;
	background-color: transparent;
	position: fixed;
	top: 1107px;
	left: 296px;
}

#u175-13
{
	line-height: 17px;
}

#u175-15
{
	font-size: 22px;
	line-height: 26px;
}

#u187-4
{
	z-index: 10;
	width: 55px;
	min-height: 55px;
	background-color: transparent;
	border-radius: 40px;
	color: #DE1426;
	text-align: center;
	font-size: 40px;
	line-height: 48px;
	-webkit-transform: matrix(0,1,-1,0,55,0);
	-ms-transform: matrix(0,1,-1,0,55,0);
	transform: matrix(0,1,-1,0,55,0);
	margin-left: 453px;
	margin-top: 475px;
	position: relative;
}

#u187-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 55px;
	width: 55px;
	margin: 475px 0px 0px 453px;
}

#exp
{
	margin-top: 245px;
	position: relative;
}

#pu459,#pu481
{
	width: 0.01px;
	margin-left: -100px;
}

#u481
{
	z-index: 2;
	min-height: 128px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0)),color-stop(100%, rgba(65,201,255,0.4)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0) ,rgba(65,201,255,0.4) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0) ,rgba(65,201,255,0.4) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#6641C9FF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFFFF', endColorstr='#6641C9FF', GradientType=0)";
	padding-bottom: 309px;
}

#u481_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u184-4
{
	z-index: 34;
	width: 960px;
	min-height: 58px;
	background-color: transparent;
	line-height: 43px;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 100px;
}

#u481-bw
{
	z-index: 2;
	min-height: 128px;
}

#u482
{
	z-index: 150;
	height: 30px;
	background: transparent url("../images/road.png") repeat left top;
}

#u482-bw
{
	z-index: 150;
	margin-top: 407px;
	height: 30px;
}

#pu244
{
	width: 0.01px;
	padding-bottom: 299px;
	margin-left: 214px;
	margin-top: -309px;
}

#u244
{
	z-index: 208;
	width: 532px;
	background-color: transparent;
	position: fixed;
	top: 1914px;
	left: 214px;
}

#u560
{
	z-index: 262;
	position: fixed;
	top: 1781px;
	left: 336px;
}

#u250-13
{
	z-index: 98;
	width: 225px;
	min-height: 71px;
	background-color: transparent;
	line-height: 29px;
	position: fixed;
	top: 2114px;
	left: 0px;
}

#u248-13
{
	z-index: 85;
	width: 222px;
	min-height: 71px;
	background-color: transparent;
	line-height: 29px;
	position: fixed;
	top: 2114px;
	left: 245px;
}

#u249-8
{
	z-index: 77;
	width: 225px;
	min-height: 71px;
	background-color: transparent;
	line-height: 29px;
	position: fixed;
	top: 2114px;
	left: 490px;
}

#u188-8
{
	z-index: 69;
	width: 222px;
	min-height: 71px;
	background-color: transparent;
	line-height: 29px;
	position: fixed;
	top: 2114px;
	left: 738px;
}

#u250-11,#u248-11,#u249-6,#u188-6
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u250-4,#u248-4,#u249,#u188
{
	font-size: 30px;
	color: #DE1426;
	line-height: 36px;
}

#u250-10,#u248-10,#u249-5,#u188-5
{
	line-height: 29px;
}

#u194-4
{
	z-index: 14;
	width: 55px;
	min-height: 55px;
	background-color: transparent;
	border-radius: 40px;
	color: #DE1426;
	text-align: center;
	font-size: 40px;
	line-height: 48px;
	-webkit-transform: matrix(0,1,-1,0,55,0);
	-ms-transform: matrix(0,1,-1,0,55,0);
	transform: matrix(0,1,-1,0,55,0);
	margin-left: 453px;
	margin-top: 205px;
	position: relative;
}

#u194-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 55px;
	width: 55px;
	margin: 205px 0px 0px 453px;
}

#connect
{
	margin-top: 215px;
	position: relative;
}

#u191-4
{
	z-index: 38;
	width: 960px;
	min-height: 58px;
	background-color: transparent;
	line-height: 43px;
	margin-top: 78px;
	position: relative;
}

#pu389
{
	width: 0.01px;
	padding-bottom: 31px;
	margin-left: 337px;
	margin-top: 29px;
}

#u389
{
	z-index: 146;
	width: 203px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 42px;
}

#u565
{
	z-index: 263;
	-webkit-transform: matrix(0.766,-0.6428,0.6428,0.766,-1,42);
	-ms-transform: matrix(0.766,-0.6428,0.6428,0.766,-1,42);
	transform: matrix(0.766,-0.6428,0.6428,0.766,-1,42);
	position: relative;
	margin-right: -10000px;
	margin-top: 207px;
	left: 194px;
}

#u570
{
	z-index: 264;
	-webkit-transform: matrix(0.766,0.6428,-0.6428,0.766,28,-31);
	-ms-transform: matrix(0.766,0.6428,-0.6428,0.766,28,-31);
	transform: matrix(0.766,0.6428,-0.6428,0.766,28,-31);
	position: relative;
	margin-right: -10000px;
	margin-top: 207px;
	left: 1px;
}

#pu445-6
{
	width: 0.01px;
	padding-bottom: 395px;
	margin-left: -68px;
	margin-top: -253px;
}

#u445-6
{
	z-index: 154;
	width: 425px;
	min-height: 135px;
	background-color: transparent;
	color: #000000;
	font-size: 18px;
	line-height: 22px;
	position: fixed;
	top: 2778px;
	left: -68px;
}

#u404
{
	z-index: 124;
	width: 343px;
	background-color: transparent;
	position: fixed;
	top: 3016px;
	left: 43px;
}

#u416
{
	z-index: 148;
	-webkit-transform: matrix(0.9336,-0.3584,0.3584,0.9336,-27,27);
	-ms-transform: matrix(0.9336,-0.3584,0.3584,0.9336,-27,27);
	transform: matrix(0.9336,-0.3584,0.3584,0.9336,-27,27);
	position: fixed;
	top: 2983px;
	left: 645px;
}

#u446-4
{
	z-index: 160;
	width: 391px;
	min-height: 103px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	position: fixed;
	top: 2785px;
	left: 633px;
}

#u209-4
{
	z-index: 18;
	width: 55px;
	min-height: 55px;
	background-color: transparent;
	border-radius: 40px;
	color: #DE1426;
	text-align: center;
	font-size: 40px;
	line-height: 48px;
	-webkit-transform: matrix(0,1,-1,0,55,0);
	-ms-transform: matrix(0,1,-1,0,55,0);
	transform: matrix(0,1,-1,0,55,0);
	margin-left: 453px;
	margin-top: 21px;
	position: relative;
}

#u209-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 55px;
	width: 55px;
	margin: 21px 0px 0px 453px;
}

#vision
{
	margin-top: 223px;
	position: relative;
}

#u402-4
{
	z-index: 42;
	width: 960px;
	min-height: 58px;
	background-color: transparent;
	line-height: 43px;
	position: relative;
}

#u498
{
	z-index: 138;
	width: 162px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 3584px;
	left: 593px;
}

#u260
{
	z-index: 139;
	width: 162px;
	background-color: #9E005D;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u261
{
	z-index: 140;
	width: 209px;
	background-color: transparent;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: -58px;
	left: -22px;
}

#u261_img
{
	padding-right: 2px;
}

#u495
{
	z-index: 126;
	width: 195px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 3594px;
	left: 26px;
}

#u252
{
	z-index: 127;
	width: 195px;
	background-color: #9E005D;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u253
{
	z-index: 128;
	width: 251px;
	background-color: transparent;
	margin-bottom: -12px;
	position: relative;
	margin-right: -10000px;
	margin-top: -43px;
	left: -26px;
}

#u497
{
	z-index: 134;
	width: 169px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 3710px;
	left: 343px;
}

#u256
{
	z-index: 135;
	width: 169px;
	background-color: #9E005D;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u257
{
	z-index: 136;
	width: 218px;
	background-color: transparent;
	margin-bottom: -11px;
	position: relative;
	margin-right: -10000px;
	margin-top: -37px;
	left: -23px;
}

#u499
{
	z-index: 142;
	width: 149px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 3781px;
	left: 747px;
}

#u264
{
	z-index: 143;
	width: 149px;
	background-color: #9E005D;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u265
{
	z-index: 144;
	width: 223px;
	background-color: transparent;
	margin-bottom: -20px;
	position: relative;
	margin-right: -10000px;
	margin-top: -53px;
	left: -35px;
}

#u265_img
{
	padding-right: 5px;
}

#u496
{
	z-index: 130;
	width: 177px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 3865px;
	left: 82px;
}

#u271
{
	z-index: 131;
	width: 177px;
	background-color: #9E005D;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u268
{
	z-index: 132;
	width: 228px;
	background-color: transparent;
	margin-bottom: -11px;
	position: relative;
	margin-right: -10000px;
	margin-top: -39px;
	left: -24px;
}

#u253_img,#u257_img,#u268_img
{
	padding-right: 1px;
}

#u447-9
{
	z-index: 164;
	width: 726px;
	min-height: 145px;
	background-color: transparent;
	position: fixed;
	top: 3906px;
	left: 286px;
}

#u175-2,#u447-2
{
	font-size: 30px;
	line-height: 36px;
}

#u175-4,#u175-6,#u175-8,#u175-10,#u175-12,#u447-4,#u447-5,#u447-7
{
	font-size: 18px;
	line-height: 22px;
}

#u294-4
{
	z-index: 22;
	width: 55px;
	min-height: 55px;
	background-color: transparent;
	border-radius: 40px;
	color: #DE1426;
	text-align: center;
	font-size: 40px;
	line-height: 48px;
	-webkit-transform: matrix(0,1,-1,0,55,0);
	-ms-transform: matrix(0,1,-1,0,55,0);
	transform: matrix(0,1,-1,0,55,0);
	margin-left: 453px;
	margin-top: 570px;
	position: relative;
}

#u294-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 55px;
	width: 55px;
	margin: 570px 0px 0px 453px;
}

.js #u136-4.ose_pre_init,.js #u187-4.ose_pre_init,.js #u194-4.ose_pre_init,.js #u209-4.ose_pre_init,.js #u294-4.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#ibm
{
	margin-top: 233px;
	position: relative;
}

#u212
{
	z-index: 111;
	width: 125px;
	background-color: transparent;
	margin-left: 417px;
	margin-top: 39px;
	position: relative;
}

#pu559-4
{
	width: 0.01px;
	margin-top: 50px;
}

#u559-4
{
	z-index: 258;
	width: 470px;
	min-height: 177px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 43px;
	font-size: 36px;
	font-family: '__ITC Lubalin Graph Std_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#widgetu500
{
	z-index: 210;
	width: 0.01px;
	height: 233px;
	position: relative;
	margin-right: -10000px;
	left: 490px;
}

#widgetu505
{
	z-index: 211;
	width: 472px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu505.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 472px;
	height: 47px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u506-4
{
	z-index: 212;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-transform: uppercase;
	text-align: left;
	line-height: 14px;
	color: #FFFFFF;
	font-family: '__HelvNeue Light for IBM_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u507-4
{
	z-index: 216;
	width: 458px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: '__HelvNeue Light for IBM_5';
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu505.non-empty-st #u507-4
{
	background-color: #FFFFFF;
}

#widgetu505:hover #u507-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 458px;
	margin: 19px -10000px 0px 0px;
}

#widgetu505.focus-st #u507-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 458px;
	margin: 19px -10000px 0px 0px;
}

#widgetu505.fld-err-st #u507-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 458px;
	margin: 19px -10000px 0px 0px;
}

#widgetu505.non-empty-st #u507-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu505:hover #u507-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu505.focus-st #u507-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu505_input,#widgetu505_prompt
{
	width: 458px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: '__HelvNeue Light for IBM_5';
	font-style: italic;
	font-weight: 300;
	padding: 6px;
}

#u509-4
{
	z-index: 220;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 203px;
	left: 270px;
}

#widgetu500.frm-sub-st #u509-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u515-4
{
	z-index: 224;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #FF0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 203px;
	left: 270px;
}

#widgetu500.frm-subm-err-st #u515-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u510-4
{
	z-index: 228;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	color: #00FF00;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 203px;
	left: 270px;
}

#widgetu500.frm-sub-st #u509-4,#widgetu500.frm-subm-err-st #u515-4,#widgetu500.frm-subm-ok-st #u510-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu500.frm-subm-ok-st #u510-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u516-17
{
	z-index: 232;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 203px;
	left: 130px;
	background: url("../images/u516-17.png") no-repeat 0px 0px;
}

#u516-17:hover
{
	background: url("../images/u516-17-r.png") no-repeat 0px 0px;
}

#u516-17:active
{
	background: url("../images/u516-17-m.png") no-repeat 0px 0px;
}

#widgetu500.frm-sub-st #u516-17
{
	background: url("../images/u516-17-fs.png") no-repeat 0px 0px;
}

#widgetu511
{
	z-index: 249;
	width: 472px;
	height: 101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: -1px;
}

#widgetu511.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 472px;
	height: 101px;
	min-height: 0px;
	margin: 67px -10000px 0px 0px;
}

#u514-4
{
	z-index: 250;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-transform: uppercase;
	text-align: left;
	line-height: 14px;
	color: #FFFFFF;
	font-family: '__HelvNeue Light for IBM_5';
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu505.fld-err-st #u506-4,#widgetu511.fld-err-st #u514-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#widgetu505.fld-err-st #u506-4 p,#widgetu505.fld-err-st #u506-4 span,#widgetu511.fld-err-st #u514-4 p,#widgetu511.fld-err-st #u514-4 span
{
	color: #D7244C;
}

#u512-4
{
	z-index: 254;
	width: 458px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: '__HelvNeue Light for IBM_5';
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu511.non-empty-st #u512-4
{
	background-color: #FFFFFF;
}

#widgetu511:hover #u512-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 458px;
	margin: 19px -10000px 0px 0px;
}

#widgetu511.focus-st #u512-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 458px;
	margin: 19px -10000px 0px 0px;
}

#widgetu511.fld-err-st #u512-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 458px;
	margin: 19px -10000px 0px 0px;
}

#widgetu511.non-empty-st #u512-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu511:hover #u512-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu511.focus-st #u512-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu505.fld-err-st #u507-4 *,#widgetu511.fld-err-st #u512-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu511_input,#widgetu511_prompt
{
	width: 458px;
	min-height: 68px;
	color: #C4C4C4;
	font-family: '__HelvNeue Light for IBM_5';
	font-style: italic;
	font-weight: 300;
	padding: 6px;
}

#widgetu505.focus-st #widgetu505_prompt,#widgetu511.focus-st #widgetu511_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu505:hover #widgetu505_input,#widgetu505.focus-st #widgetu505_input,#widgetu505.fld-err-st #widgetu505_input,#widgetu505:hover #widgetu505_prompt,#widgetu505.fld-err-st #widgetu505_prompt,#widgetu511:hover #widgetu511_input,#widgetu511.focus-st #widgetu511_input,#widgetu511.fld-err-st #widgetu511_input,#widgetu511:hover #widgetu511_prompt,#widgetu511.fld-err-st #widgetu511_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu505.non-empty-st #widgetu505_prompt,#widgetu511.non-empty-st #widgetu511_prompt
{
	visibility: hidden;
}

#u382-4
{
	z-index: 26;
	width: 55px;
	min-height: 55px;
	background-color: #D8D8D8;
	background-color: rgba(0,0,0,0.15);
	border-radius: 40px;
	color: #FFFFFF;
	text-align: center;
	font-size: 40px;
	line-height: 48px;
	position: fixed;
	-webkit-transform: matrix(0,-1,1,0,0,55);
	-ms-transform: matrix(0,-1,1,0,0,55);
	transform: matrix(0,-1,1,0,0,55);
	bottom: 23px;
	left: 50%;
	margin-left: 425px;
	-pie-background: rgba(0,0,0,0.15);
}

#u382-4:hover
{
	background-color: #4C4C4C;
	background-color: rgba(0,0,0,0.7);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 55px;
	width: 55px;
	margin: 0px 0px 0px 425px;
	-pie-background: rgba(0,0,0,0.7);
}

#u136-2,#u187-2,#u194-2,#u209-2,#u294-2,#u382-2
{
	padding-left: 5px;
}

.js #u389.ose_pre_init,.js #u565.ose_pre_init,.js #u570.ose_pre_init,.js #u212.ose_pre_init,.js #u382-4.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u126
{
	z-index: 5;
	height: 473px;
	border-style: none;
	border-color: transparent;
	background-color: #DE1426;
}

#u126-bw
{
	z-index: 5;
	margin-top: -373px;
	margin-bottom: -373px;
	height: 473px;
}

@font-face
{
	font-family: '__HelvNeue Light for IBM_5';
	src: url('../fonts/hni-light.eot');
	src: local('☺'), url('../fonts/hni-light.woff') format('woff'), url('../fonts/hni-light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face
{
	font-family: '__ITC Lubalin Graph Std_5';
	src: url('../fonts/lubalingraphstd-book-webfont.eot');
	src: local('☺'), url('../fonts/lubalingraphstd-book-webfont.woff') format('woff'), url('../fonts/lubalingraphstd-book-webfont.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

