#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Label_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Ellipse_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Ellipse_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Rich_text_204 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Image_30 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Line_109 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Rich_text_205 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96) ;
  filter: alpha(opacity=96) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Line_110 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Image_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Rich_text_206 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96) ;
  filter: alpha(opacity=96) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Line_111 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Rich_text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-0ce0d332-38f0-4129-9e40-8f383e9cb4c9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}