#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Table_1 {
  position: absolute;
  top: 59px;
  left: 0px;
  width: 375px;
  height: 259px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  box-shadow: none;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_1 {
  padding-left: 12px;
  width: 45px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_4 {
  padding-left: 12px;
  width: 156px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_7 {
  padding-left: 12px;
  width: 62px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_7 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_22 {
  padding-left: 12px;
  width: 62px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_22 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_22 span#rtr-s-Text_cell_22_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_2 {
  padding-left: 12px;
  width: 45px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_3 {
  padding-left: 12px;
  width: 156px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_3 span#rtr-s-Text_cell_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_5 {
  padding-left: 12px;
  width: 62px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_5 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_5 span#rtr-s-Text_cell_5_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_23 {
  padding-left: 12px;
  width: 62px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_23 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_23 span#rtr-s-Text_cell_23_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_6 {
  padding-left: 12px;
  width: 45px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_6 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_6 span#rtr-s-Text_cell_6_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_8 {
  padding-left: 12px;
  width: 156px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_8 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_8 span#rtr-s-Text_cell_8_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_9 {
  padding-left: 12px;
  width: 62px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_9 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_9 span#rtr-s-Text_cell_9_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_24 {
  padding-left: 12px;
  width: 62px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_24 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_24 span#rtr-s-Text_cell_24_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_10 {
  padding-left: 12px;
  width: 45px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_10 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_10 span#rtr-s-Text_cell_10_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_11 {
  padding-left: 12px;
  width: 156px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_11 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_11 span#rtr-s-Text_cell_11_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_12 {
  padding-left: 12px;
  width: 62px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_12 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_12 span#rtr-s-Text_cell_12_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_25 {
  padding-left: 12px;
  width: 62px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_25 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_25 span#rtr-s-Text_cell_25_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_13 {
  padding-left: 12px;
  width: 45px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_13 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_13 span#rtr-s-Text_cell_13_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_14 {
  padding-left: 12px;
  width: 156px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_14 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_14 span#rtr-s-Text_cell_14_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_15 {
  padding-left: 12px;
  width: 62px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_15 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_15 span#rtr-s-Text_cell_15_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_26 {
  padding-left: 12px;
  width: 62px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_26 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_26 span#rtr-s-Text_cell_26_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_16 {
  padding-left: 12px;
  width: 45px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_16 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_16 span#rtr-s-Text_cell_16_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_17 {
  padding-left: 12px;
  width: 156px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_17 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_17 span#rtr-s-Text_cell_17_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_18 {
  padding-left: 12px;
  width: 62px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_18 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_18 span#rtr-s-Text_cell_18_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_27 {
  padding-left: 12px;
  width: 62px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_27 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_cell_27 span#rtr-s-Text_cell_27_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_3 > svg {
  width: 28px;
  height: 28px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_3 {
  position: absolute;
  top: 68px;
  left: 16px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_4 > svg {
  width: 28px;
  height: 28px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_4 {
  position: absolute;
  top: 110px;
  left: 16px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_1 {
  position: absolute;
  top: 31px;
  left: 43px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_2 {
  position: absolute;
  top: 31px;
  left: 313px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_15 > svg {
  width: 28px;
  height: 28px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_15 {
  position: absolute;
  top: 155px;
  left: 16px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_2 > svg {
  width: 28px;
  height: 28px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_2 {
  position: absolute;
  top: 110px;
  left: 315px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Group_1 {
  position: absolute;
  top: 604px;
  left: 0px;
  width: 375px;
  height: 63px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Rich_text_38 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 62px;
  background-color: #F6F6F6;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Rich_text_38 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Rich_text_38 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Rich_text_38 span#rtr-s-Rich_text_38_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_13 > svg {
  width: 26px;
  height: 24px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_13 {
  position: absolute;
  top: 20px;
  left: 18px;
  width: 26px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_29 > svg {
  width: 24px;
  height: 24px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_29 {
  position: absolute;
  top: 20px;
  left: 119px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_17 > svg {
  width: 28px;
  height: 28px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_17 {
  position: absolute;
  top: 18px;
  left: 218px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_19 > svg {
  width: 28px;
  height: 28px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_19 {
  position: absolute;
  top: 18px;
  left: 322px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_18 > svg {
  width: 28px;
  height: 28px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_18 {
  position: absolute;
  top: 66px;
  left: 313px;
  width: 28px;
  height: 28px;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_20 > svg {
  width: 30px;
  height: 30px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_20 {
  position: absolute;
  top: 67px;
  left: 345px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_5 > svg {
  width: 28px;
  height: 28px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_5 {
  position: absolute;
  top: 198px;
  left: 16px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_6 > svg {
  width: 28px;
  height: 28px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_6 {
  position: absolute;
  top: 241px;
  left: 16px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_7 > svg {
  width: 28px;
  height: 28px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_7 {
  position: absolute;
  top: 281px;
  left: 16px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_23 > svg {
  width: 30px;
  height: 30px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_23 {
  position: absolute;
  top: 109px;
  left: 345px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_9 > svg {
  width: 28px;
  height: 28px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_9 {
  position: absolute;
  top: 155px;
  left: 315px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_24 > svg {
  width: 30px;
  height: 30px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_24 {
  position: absolute;
  top: 154px;
  left: 345px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_10 > svg {
  width: 28px;
  height: 28px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_10 {
  position: absolute;
  top: 197px;
  left: 315px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_25 > svg {
  width: 30px;
  height: 30px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_25 {
  position: absolute;
  top: 196px;
  left: 345px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_11 > svg {
  width: 28px;
  height: 28px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_11 {
  position: absolute;
  top: 241px;
  left: 315px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_26 > svg {
  width: 30px;
  height: 30px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_26 {
  position: absolute;
  top: 240px;
  left: 345px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_27 > svg {
  width: 28px;
  height: 28px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_27 {
  position: absolute;
  top: 281px;
  left: 315px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_28 > svg {
  width: 30px;
  height: 30px;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 #s-Image_28 {
  position: absolute;
  top: 280px;
  left: 345px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-0ea74ff9-c346-4316-b9a0-1b68cba88342 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}