#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Group_1 {
  position: absolute;
  top: 604px;
  left: 0px;
  width: 375px;
  height: 63px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rich_text_38 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 62px;
  background-color: #F6F6F6;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rich_text_38 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rich_text_38 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rich_text_38 span#rtr-s-Rich_text_38_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_13 > svg {
  width: 26px;
  height: 24px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_13 {
  position: absolute;
  top: 20px;
  left: 18px;
  width: 26px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_29 > svg {
  width: 24px;
  height: 24px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_29 {
  position: absolute;
  top: 20px;
  left: 119px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_17 > svg {
  width: 28px;
  height: 28px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_17 {
  position: absolute;
  top: 18px;
  left: 218px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_19 > svg {
  width: 28px;
  height: 28px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_19 {
  position: absolute;
  top: 18px;
  left: 322px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Table_1 {
  position: absolute;
  top: 59px;
  left: 0px;
  width: 375px;
  height: 546px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  box-shadow: none;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Cell_1 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Cell_1 .verticalalign {
  vertical-align: middle;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Cell_1 {
  width: 186px;
  height: 271px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_2 {
  width: 188px;
  height: 273px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Cell_3 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Cell_3 .verticalalign {
  vertical-align: middle;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Cell_3 {
  width: 186px;
  height: 271px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_4 {
  width: 188px;
  height: 273px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Cell_2 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Cell_2 .verticalalign {
  vertical-align: middle;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Cell_2 {
  width: 186px;
  height: 272px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_3 {
  width: 188px;
  height: 273px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Cell_4 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Cell_4 .verticalalign {
  vertical-align: middle;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Cell_4 {
  width: 186px;
  height: 272px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_35 > svg {
  width: 28px;
  height: 28px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_35 {
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_5 {
  width: 188px;
  height: 273px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Map-location {
  position: absolute;
  top: 68px;
  left: 8px;
  width: 168px;
  height: 50px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 35px;
  height: 30px;
  background-color: #157EFB;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 7px 0px 0px 7px;
  padding-top: 4px;
  padding-right: 0px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 6px;
  font-size: 7.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_9 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 7.0pt;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 7.0pt;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_10 {
  position: absolute;
  top: 0px;
  left: 35px;
  padding-left: 11px;
  width: 117px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 7px 7px 0px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Triangle_4 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 28px;
  height: 15px;
  position: absolute;
  overflow: hidden;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Triangle_4 .content {
  width: 28px;
  height: 15px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Triangle_4 {
  position: absolute;
  top: 36px;
  left: 75px;
  width: 28px;
  height: 15px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Triangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Triangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Triangle_4 span#rtr-s-Triangle_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_20 {
  position: absolute;
  top: 2px;
  left: 5px;
  width: 24px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_14 > svg {
  width: 15px;
  height: 15px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_14 {
  position: absolute;
  top: 13px;
  left: 147px;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Map-location_1 {
  position: absolute;
  top: 117px;
  left: 14px;
  width: 156px;
  height: 156px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_9 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 156px;
  height: 156px;
  position: absolute;
  overflow: hidden;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_9 .content {
  width: 156px;
  height: 156px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 156px;
  height: 156px;
  background-color: #157EFB;
  background-image: none;
  opacity: 0.3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_9 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_9 span#rtr-s-Ellipse_9_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  overflow: hidden;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_2 .content {
  width: 20px;
  height: 20px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_2 {
  position: absolute;
  top: 68px;
  left: 68px;
  width: 20px;
  height: 20px;
  background-color: #157EFB;
  background-image: none;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_2 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Pin-red {
  position: absolute;
  top: 163px;
  left: 77px;
  width: 30px;
  height: 38px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Map-location_2 {
  position: absolute;
  top: 117px;
  left: 205px;
  width: 156px;
  height: 156px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_10 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 156px;
  height: 156px;
  position: absolute;
  overflow: hidden;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_10 .content {
  width: 156px;
  height: 156px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 156px;
  height: 156px;
  background-color: #157EFB;
  background-image: none;
  opacity: 0.3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_10 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_10 span#rtr-s-Ellipse_10_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  overflow: hidden;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_3 .content {
  width: 20px;
  height: 20px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_3 {
  position: absolute;
  top: 68px;
  left: 68px;
  width: 20px;
  height: 20px;
  background-color: #157EFB;
  background-image: none;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_3 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Pin-red_1 {
  position: absolute;
  top: 163px;
  left: 268px;
  width: 30px;
  height: 38px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Map-location_3 {
  position: absolute;
  top: 69px;
  left: 199px;
  width: 167px;
  height: 50px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_11 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 35px;
  height: 30px;
  background-color: #157EFB;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 7px 0px 0px 7px;
  padding-top: 4px;
  padding-right: 0px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 6px;
  font-size: 7.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_11 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_11 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 7.0pt;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 7.0pt;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_11 span#rtr-s-Rectangle_11_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 7.0pt;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_12 {
  position: absolute;
  top: 0px;
  left: 36px;
  padding-left: 11px;
  width: 115px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 7px 7px 0px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Triangle_5 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 28px;
  height: 15px;
  position: absolute;
  overflow: hidden;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Triangle_5 .content {
  width: 28px;
  height: 15px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Triangle_5 {
  position: absolute;
  top: 36px;
  left: 75px;
  width: 28px;
  height: 15px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Triangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Triangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Triangle_5 span#rtr-s-Triangle_5_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_15 > svg {
  width: 15px;
  height: 15px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_15 {
  position: absolute;
  top: 13px;
  left: 145px;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Input_3 {
  position: absolute;
  top: 291px;
  left: 1px;
  padding-left: 22px;
  width: 164px;
  height: 40px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Input_3 input {
  color: #007DF8;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  min-height: 11.0pt;
  text-shadow: none;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Input_4 {
  position: absolute;
  top: 291px;
  left: 188px;
  padding-left: 22px;
  width: 164px;
  height: 40px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Input_4 input {
  color: #007DF8;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  min-height: 11.0pt;
  text-shadow: none;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Map-location_4 {
  position: absolute;
  top: 342px;
  left: 3px;
  width: 182px;
  height: 50px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_13 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 35px;
  height: 30px;
  background-color: #157EFB;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 7px 0px 0px 7px;
  padding-top: 4px;
  padding-right: 0px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 6px;
  font-size: 7.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_13 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_13 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 7.0pt;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 7.0pt;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_14 {
  position: absolute;
  top: 0px;
  left: 39px;
  padding-left: 11px;
  width: 127px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 7px 7px 0px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_14 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Triangle_6 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 28px;
  height: 15px;
  position: absolute;
  overflow: hidden;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Triangle_6 .content {
  width: 28px;
  height: 15px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Triangle_6 {
  position: absolute;
  top: 36px;
  left: 83px;
  width: 28px;
  height: 15px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Triangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Triangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Triangle_6 span#rtr-s-Triangle_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_16 > svg {
  width: 15px;
  height: 15px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_16 {
  position: absolute;
  top: 13px;
  left: 160px;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Map-location_5 {
  position: absolute;
  top: 342px;
  left: 193px;
  width: 173px;
  height: 50px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_15 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 35px;
  height: 30px;
  background-color: #157EFB;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 7px 0px 0px 7px;
  padding-top: 4px;
  padding-right: 0px;
  padding-bottom: 4px;
  padding-left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 6px;
  font-size: 7.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_15 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_15 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 7.0pt;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 7.0pt;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_16 {
  position: absolute;
  top: 0px;
  left: 37px;
  padding-left: 11px;
  width: 120px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 7px 7px 0px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_16 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_16 span#rtr-s-Rectangle_16_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Triangle_7 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 28px;
  height: 15px;
  position: absolute;
  overflow: hidden;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Triangle_7 .content {
  width: 28px;
  height: 15px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Triangle_7 {
  position: absolute;
  top: 36px;
  left: 78px;
  width: 28px;
  height: 15px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Triangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Triangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Triangle_7 span#rtr-s-Triangle_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_18 > svg {
  width: 15px;
  height: 15px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_18 {
  position: absolute;
  top: 13px;
  left: 151px;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Map-location_6 {
  position: absolute;
  top: 417px;
  left: 16px;
  width: 156px;
  height: 156px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_11 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 156px;
  height: 156px;
  position: absolute;
  overflow: hidden;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_11 .content {
  width: 156px;
  height: 156px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_11 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 156px;
  height: 156px;
  background-color: #157EFB;
  background-image: none;
  opacity: 0.3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_11 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_11 span#rtr-s-Ellipse_11_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_4 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  overflow: hidden;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_4 .content {
  width: 20px;
  height: 20px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_4 {
  position: absolute;
  top: 68px;
  left: 68px;
  width: 20px;
  height: 20px;
  background-color: #157EFB;
  background-image: none;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_4 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Header-top {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 64px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rich_text_22 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 63px;
  background-color: #FCD123;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rich_text_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rich_text_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rich_text_22 span#rtr-s-Rich_text_22_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Label_87 {
  position: absolute;
  top: 25px;
  left: 100px;
  width: 223px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Label_87 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Label_87 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Label_87 span#rtr-s-Label_87_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-button-back_9 {
  position: absolute;
  top: 33px;
  left: 1px;
  width: 71px;
  height: 22px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Label_82 {
  position: absolute;
  top: 0px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Label_82 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Label_82 span {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Label_82 span#rtr-s-Label_82_0 {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_6 > svg {
  width: 22px;
  height: 22px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Statusbar-white {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 20px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_3 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Label_31 {
  position: absolute;
  top: 0px;
  left: 149px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Label_31 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Label_31 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Label_31 span#rtr-s-Label_31_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Group_13 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_7 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_7 .content {
  width: 6px;
  height: 6px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_7 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_7 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_12 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_12 .content {
  width: 6px;
  height: 6px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_12 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_12 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_12 span#rtr-s-Ellipse_12_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_14 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_14 .content {
  width: 6px;
  height: 6px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_14 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_14 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_14 span#rtr-s-Ellipse_14_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_16 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_16 .content {
  width: 6px;
  height: 6px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_16 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_16 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_16 span#rtr-s-Ellipse_16_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_17 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_17 .content {
  width: 6px;
  height: 6px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_17 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_17 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_17 span#rtr-s-Ellipse_17_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Label_53 {
  position: absolute;
  top: 1px;
  left: 302px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Label_53 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Label_53 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Label_53 span#rtr-s-Label_53_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_24 {
  position: absolute;
  top: 5px;
  left: 342px;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_25 > svg {
  width: 14px;
  height: 14px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_25 {
  position: absolute;
  top: 3px;
  left: 299px;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_32 > svg {
  width: 18px;
  height: 18px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_32 {
  position: absolute;
  top: 1px;
  left: 42px;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_13 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 156px;
  height: 156px;
  position: absolute;
  overflow: hidden;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_13 .content {
  width: 156px;
  height: 156px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_13 {
  position: absolute;
  top: 417px;
  left: 202px;
  width: 156px;
  height: 156px;
  background-color: #157EFB;
  background-image: none;
  opacity: 0.3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_13 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_13 span#rtr-s-Ellipse_13_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Pin-red_2 {
  position: absolute;
  top: 431px;
  left: 278px;
  width: 30px;
  height: 38px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_5 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  overflow: hidden;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_5 .content {
  width: 20px;
  height: 20px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Ellipse_5 {
  position: absolute;
  top: 461px;
  left: 283px;
  width: 20px;
  height: 20px;
  background-color: #157EFB;
  background-image: none;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_5 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_33 > svg {
  width: 24px;
  height: 24px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_33 {
  position: absolute;
  top: 350px;
  left: 199px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_30 > svg {
  width: 24px;
  height: 24px;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_30 {
  position: absolute;
  top: 350px;
  left: 10px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 #s-Image_21 {
  position: absolute;
  top: 72px;
  left: 207px;
  width: 21px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-130d29e2-ef1e-4c96-a2c0-9de8f6343142 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}