#s-57065a06-8751-4d92-aee3-b6cc41e67f11 #s-Rich_text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57065a06-8751-4d92-aee3-b6cc41e67f11 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57065a06-8751-4d92-aee3-b6cc41e67f11 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57065a06-8751-4d92-aee3-b6cc41e67f11 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57065a06-8751-4d92-aee3-b6cc41e67f11 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57065a06-8751-4d92-aee3-b6cc41e67f11 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57065a06-8751-4d92-aee3-b6cc41e67f11 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57065a06-8751-4d92-aee3-b6cc41e67f11 #s-Ellipse_255 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57065a06-8751-4d92-aee3-b6cc41e67f11 #s-Ellipse_256 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57065a06-8751-4d92-aee3-b6cc41e67f11 #s-Rich_text_219 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57065a06-8751-4d92-aee3-b6cc41e67f11 #s-Rich_text_220 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57065a06-8751-4d92-aee3-b6cc41e67f11 #s-Triangle_14 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-57065a06-8751-4d92-aee3-b6cc41e67f11 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57065a06-8751-4d92-aee3-b6cc41e67f11 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57065a06-8751-4d92-aee3-b6cc41e67f11 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57065a06-8751-4d92-aee3-b6cc41e67f11 #s-Rich_text_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-57065a06-8751-4d92-aee3-b6cc41e67f11 #s-Label_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-57065a06-8751-4d92-aee3-b6cc41e67f11 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}