#s-99e788cf-8a11-4e2e-9b47-0b9997eaaa43 #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e788cf-8a11-4e2e-9b47-0b9997eaaa43 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e788cf-8a11-4e2e-9b47-0b9997eaaa43 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e788cf-8a11-4e2e-9b47-0b9997eaaa43 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e788cf-8a11-4e2e-9b47-0b9997eaaa43 #s-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e788cf-8a11-4e2e-9b47-0b9997eaaa43 #s-Ellipse_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e788cf-8a11-4e2e-9b47-0b9997eaaa43 #s-Ellipse_39 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e788cf-8a11-4e2e-9b47-0b9997eaaa43 #s-Ellipse_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e788cf-8a11-4e2e-9b47-0b9997eaaa43 #s-Ellipse_41 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e788cf-8a11-4e2e-9b47-0b9997eaaa43 #s-Ellipse_42 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e788cf-8a11-4e2e-9b47-0b9997eaaa43 #s-Label_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e788cf-8a11-4e2e-9b47-0b9997eaaa43 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e788cf-8a11-4e2e-9b47-0b9997eaaa43 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e788cf-8a11-4e2e-9b47-0b9997eaaa43 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e788cf-8a11-4e2e-9b47-0b9997eaaa43 #s-Rich_text_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e788cf-8a11-4e2e-9b47-0b9997eaaa43 #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-99e788cf-8a11-4e2e-9b47-0b9997eaaa43 #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-99e788cf-8a11-4e2e-9b47-0b9997eaaa43 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}