#s-9ae79af6-81c3-4aed-af71-2ad4319c8b20 #s-Rich_text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae79af6-81c3-4aed-af71-2ad4319c8b20 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae79af6-81c3-4aed-af71-2ad4319c8b20 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae79af6-81c3-4aed-af71-2ad4319c8b20 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae79af6-81c3-4aed-af71-2ad4319c8b20 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae79af6-81c3-4aed-af71-2ad4319c8b20 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae79af6-81c3-4aed-af71-2ad4319c8b20 #s-Ellipse_255 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae79af6-81c3-4aed-af71-2ad4319c8b20 #s-Ellipse_256 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae79af6-81c3-4aed-af71-2ad4319c8b20 #s-Rich_text_219 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae79af6-81c3-4aed-af71-2ad4319c8b20 #s-Rich_text_220 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae79af6-81c3-4aed-af71-2ad4319c8b20 #s-Triangle_14 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-9ae79af6-81c3-4aed-af71-2ad4319c8b20 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae79af6-81c3-4aed-af71-2ad4319c8b20 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae79af6-81c3-4aed-af71-2ad4319c8b20 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae79af6-81c3-4aed-af71-2ad4319c8b20 #s-Rich_text_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae79af6-81c3-4aed-af71-2ad4319c8b20 #s-Label_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae79af6-81c3-4aed-af71-2ad4319c8b20 #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae79af6-81c3-4aed-af71-2ad4319c8b20 #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae79af6-81c3-4aed-af71-2ad4319c8b20 #s-Label_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae79af6-81c3-4aed-af71-2ad4319c8b20 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae79af6-81c3-4aed-af71-2ad4319c8b20 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae79af6-81c3-4aed-af71-2ad4319c8b20 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae79af6-81c3-4aed-af71-2ad4319c8b20 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae79af6-81c3-4aed-af71-2ad4319c8b20 #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae79af6-81c3-4aed-af71-2ad4319c8b20 #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae79af6-81c3-4aed-af71-2ad4319c8b20 #s-Ellipse_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae79af6-81c3-4aed-af71-2ad4319c8b20 #s-Ellipse_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae79af6-81c3-4aed-af71-2ad4319c8b20 #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae79af6-81c3-4aed-af71-2ad4319c8b20 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae79af6-81c3-4aed-af71-2ad4319c8b20 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ae79af6-81c3-4aed-af71-2ad4319c8b20 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-9ae79af6-81c3-4aed-af71-2ad4319c8b20 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}