#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Rich_text_38 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Table_1 {
  border-collapse: separate;
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Cell_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Cell_1 > .valign {
  vertical-align: middle;
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Cell_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Cell_3 > .valign {
  vertical-align: middle;
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Cell_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Cell_2 > .valign {
  vertical-align: middle;
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Cell_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Cell_4 > .valign {
  vertical-align: middle;
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 7px 0px 0px 7px;
  padding-top: 4px;
  padding-right: 0px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 35px;
  height: 30px;
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 7px 7px 0px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 11px;
  width: 117px;
  height: 30px;
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Triangle_4 {
  -ms-transform: rotate(180.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Ellipse_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Ellipse_2 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Pin-red {
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Ellipse_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Ellipse_3 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Pin-red_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 7px 0px 0px 7px;
  padding-top: 4px;
  padding-right: 0px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 35px;
  height: 30px;
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 7px 7px 0px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 11px;
  width: 115px;
  height: 30px;
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Triangle_5 {
  -ms-transform: rotate(180.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 7px 0px 0px 7px;
  padding-top: 4px;
  padding-right: 0px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 35px;
  height: 30px;
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 7px 7px 0px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 11px;
  width: 127px;
  height: 30px;
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Triangle_6 {
  -ms-transform: rotate(180.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 7px 0px 0px 7px;
  padding-top: 4px;
  padding-right: 0px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 35px;
  height: 30px;
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Rectangle_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 7px 7px 0px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 11px;
  width: 120px;
  height: 30px;
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Triangle_7 {
  -ms-transform: rotate(180.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Ellipse_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Ellipse_4 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-9b9b91aa-2246-4530-8d3d-f5b6e49c8f2d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}