#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Description-Details-screen {
  border-collapse: separate;
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Rich_text_22 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Label_87 {
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Label_82 {
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Ellipse_10 {
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Ellipse_16 {
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Ellipse_17 {
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Rich_text_204 {
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Image_30 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Line_109 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Line_109 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Rich_text_205 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96);
  filter: alpha(opacity=96);
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Line_110 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Line_110 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Image_53 {
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Table_1 {
  border-collapse: separate;
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Rich_text_206 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96);
  filter: alpha(opacity=96);
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Line_111 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Line_111 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Rich_text_38 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-9d5b318b-444a-46e9-b57b-7bd549310c8e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}