#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Ellipse_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Label_216 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Image_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Image_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Rich_text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}