#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Foryou-screen {
  border-collapse: separate;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Ellipse_15 {
  -ms-transform: rotate(0.0deg);
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Ellipse_18 {
  -ms-transform: rotate(0.0deg);
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Ellipse_19 {
  -ms-transform: rotate(0.0deg);
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Label_216 {
  -ms-transform: rotate(0.0deg);
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Cell-center > .valign {
  vertical-align: top;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Rectangle_7 {
  -pie-background: linear-gradient(to bottom,#FFFFFF,#EEEEF0);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Image_53 {
  -ms-transform: rotate(0.0deg);
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F92C52;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F92C52;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F92C52;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F92C52;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 111px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 111px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Rich_text_38 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ebda9f4d-ebc1-4fcb-b16f-133037168206 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}