#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Label_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Ellipse_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Ellipse_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}