#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Mailboxes-Screen {
  border-collapse: separate;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_22 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Label_87 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Label_82 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Ellipse_12 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Ellipse_16 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Ellipse_17 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Cell-center > .valign {
  vertical-align: top;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_42 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Line_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Line_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Line_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Line_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_38 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}