#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Mailboxes-Screen {
  position: absolute;
  top: 42px;
  left: 0px;
  width: 375px;
  height: 626px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Cell-header .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Cell-header .verticalalign {
  vertical-align: middle;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Cell-header {
  width: 375px;
  height: 64px;
  background-color: #F6F6F6;
  background-image: none;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Header-top {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 375px;
  height: 64px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_22 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 63px;
  background-color: #FCD123;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_22 span#rtr-s-Rich_text_22_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Label_87 {
  position: absolute;
  top: 25px;
  left: 100px;
  width: 223px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Label_87 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Label_87 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Label_87 span#rtr-s-Label_87_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-button-back_9 {
  position: absolute;
  top: 33px;
  left: 1px;
  width: 71px;
  height: 22px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Label_82 {
  position: absolute;
  top: 0px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Label_82 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Label_82 span {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Label_82 span#rtr-s-Label_82_0 {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_6 > svg {
  width: 22px;
  height: 22px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Statusbar-white {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 20px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rectangle_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rectangle_3 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Label_31 {
  position: absolute;
  top: 0px;
  left: 149px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Label_31 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Label_31 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Label_31 span#rtr-s-Label_31_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Group_13 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Ellipse_7 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Ellipse_7 .content {
  width: 6px;
  height: 6px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Ellipse_7 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #shapewrapper-s-Ellipse_7 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Ellipse_12 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Ellipse_12 .content {
  width: 6px;
  height: 6px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Ellipse_12 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #shapewrapper-s-Ellipse_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #shapewrapper-s-Ellipse_12 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #shapewrapper-s-Ellipse_12 span#rtr-s-Ellipse_12_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Ellipse_14 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Ellipse_14 .content {
  width: 6px;
  height: 6px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Ellipse_14 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #shapewrapper-s-Ellipse_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #shapewrapper-s-Ellipse_14 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #shapewrapper-s-Ellipse_14 span#rtr-s-Ellipse_14_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Ellipse_16 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Ellipse_16 .content {
  width: 6px;
  height: 6px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Ellipse_16 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #shapewrapper-s-Ellipse_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #shapewrapper-s-Ellipse_16 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #shapewrapper-s-Ellipse_16 span#rtr-s-Ellipse_16_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Ellipse_17 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Ellipse_17 .content {
  width: 6px;
  height: 6px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Ellipse_17 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #shapewrapper-s-Ellipse_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #shapewrapper-s-Ellipse_17 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #shapewrapper-s-Ellipse_17 span#rtr-s-Ellipse_17_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Label_53 {
  position: absolute;
  top: 1px;
  left: 302px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Label_53 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Label_53 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Label_53 span#rtr-s-Label_53_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_26 {
  position: absolute;
  top: 5px;
  left: 342px;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_27 > svg {
  width: 14px;
  height: 14px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_27 {
  position: absolute;
  top: 3px;
  left: 299px;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_33 > svg {
  width: 18px;
  height: 18px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_33 {
  position: absolute;
  top: 1px;
  left: 42px;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_34 > svg {
  width: 24px;
  height: 24px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_34 {
  position: absolute;
  top: 30px;
  left: 334px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Cell-center .layout {
  overflow-x: hidden;
  overflow-y: auto;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Cell-center .verticalalign {
  vertical-align: top;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Cell-center {
  width: 375px;
  height: 499px;
  background-color: #F2F2F2;
  background-image: none;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-List-item-xtra-1 {
  width: 375px;
  height: 44px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_35 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 87px;
  width: 288px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_35 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_35 span#rtr-s-Rich_text_35_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Line_9 {
  position: absolute;
  top: 43px;
  left: 54px;
  width: 321px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_22 > svg {
  width: 28px;
  height: 28px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_22 {
  position: absolute;
  top: 8px;
  left: 332px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_42 > svg {
  width: 24px;
  height: 24px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_42 {
  position: absolute;
  top: 11px;
  left: 13px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_23 {
  position: absolute;
  top: 11px;
  left: 53px;
  width: 28px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-List-item-xtra-2 {
  width: 375px;
  height: 44px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_32 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 87px;
  width: 288px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_32 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_32 span#rtr-s-Rich_text_32_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Line_7 {
  position: absolute;
  top: 43px;
  left: 54px;
  width: 321px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_17 > svg {
  width: 28px;
  height: 28px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_17 {
  position: absolute;
  top: 8px;
  left: 332px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_15 > svg {
  width: 27px;
  height: 27px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_15 {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 27px;
  height: 27px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_8 {
  position: absolute;
  top: 9px;
  left: 53px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-List-item-xtra-2_1 {
  width: 375px;
  height: 44px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_34 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 87px;
  width: 288px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_34 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_34 span#rtr-s-Rich_text_34_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Line_10 {
  position: absolute;
  top: 43px;
  left: 54px;
  width: 321px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_20 > svg {
  width: 28px;
  height: 28px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_20 {
  position: absolute;
  top: 8px;
  left: 332px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_16 > svg {
  width: 27px;
  height: 27px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_16 {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 27px;
  height: 27px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_10 {
  position: absolute;
  top: 9px;
  left: 53px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-List-item-xtra-2_2 {
  width: 375px;
  height: 44px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_36 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 87px;
  width: 288px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_36 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_36 span#rtr-s-Rich_text_36_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Line_11 {
  position: absolute;
  top: 43px;
  left: 54px;
  width: 321px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_24 > svg {
  width: 28px;
  height: 28px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_24 {
  position: absolute;
  top: 8px;
  left: 332px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_25 > svg {
  width: 27px;
  height: 27px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_25 {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 27px;
  height: 27px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_11 {
  position: absolute;
  top: 9px;
  left: 53px;
  width: 26px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Cell-bottom .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Cell-bottom .verticalalign {
  vertical-align: middle;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Cell-bottom {
  width: 375px;
  height: 63px;
  background-color: #F6F6F6;
  background-image: none;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Group_1 {
  position: absolute;
  top: -2px;
  left: -1px;
  width: 375px;
  height: 63px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_38 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 62px;
  background-color: #F6F6F6;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_38 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_38 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Rich_text_38 span#rtr-s-Rich_text_38_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_13 > svg {
  width: 29px;
  height: 24px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_13 {
  position: absolute;
  top: 20px;
  left: 18px;
  width: 29px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_29 > svg {
  width: 24px;
  height: 24px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_29 {
  position: absolute;
  top: 20px;
  left: 119px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_18 > svg {
  width: 28px;
  height: 28px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_18 {
  position: absolute;
  top: 18px;
  left: 218px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_19 > svg {
  width: 28px;
  height: 28px;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc #s-Image_19 {
  position: absolute;
  top: 18px;
  left: 322px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f2fc0fa4-8760-477a-b7c9-37dd14cc52fc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}